[plugin]
name = "multi_platform_parser"
config_version = "1.6.2"
version = "1.6.2"
enabled = true
admin_qqs = []

[parser]
enable_bilibili = true
enable_douyin = true
enable_xhs = true
enable_xiaoheihe = true
enable_acfun = false
enable_instagram = true
enable_iwara = false
enable_kuaishou = true
enable_ncm = true
enable_nga = true
enable_shipinhao = true
enable_tiktok = true
enable_twitter = true
enable_weibo = true
enable_youtube = true
enable_zhihu = true
enable_pixiv = false

group_whitelist = []
block_ai_reply = true
debounce_seconds = 120
max_images = 9
max_text_chars = 700
send_images = true
send_video = true
use_forward_for_multi = true
source_max_size_mb = 80        # 单个媒体最大下载大小（MB），范围：1-300
source_max_minutes = 8         # 视频最大时长（分钟），范围：1-60

[encrypt]
pixiv_encrypt_image_group = true    # 群聊Pixiv图片混淆（仅R18/R18G作品，默认开启）
pixiv_encrypt_image_private = false # 私聊Pixiv图片混淆（仅R18/R18G作品，默认关闭）

[network]
proxy = ""
proxy_bilibili = false
proxy_douyin = false
proxy_xhs = false
proxy_xiaoheihe = false
proxy_acfun = false
proxy_instagram = true
proxy_iwara = true
proxy_kuaishou = false
proxy_ncm = false
proxy_nga = false
proxy_shipinhao = false
proxy_tiktok = true
proxy_twitter = true
proxy_weibo = false
proxy_youtube = true
proxy_zhihu = false
proxy_pixiv = true
common_timeout = 30
download_timeout = 120
download_retry_times = 1

[cookies]
bilibili = ""
douyin = ""
xhs = ""
xiaoheihe = ""
acfun = ""
instagram = ""
iwara = ""
kuaishou = ""
ncm = ""
nga = ""
shipinhao = ""
tiktok = ""
twitter = ""
weibo = ""
youtube = ""
zhihu = ""
pixiv = ""

[api]
host = "127.0.0.1"
port = 3000
token = ""
bot_uin = ""
